@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caacupe+One&family=Idiqlat:wght@200;300;400&family=Lilita+One&display=swap');
.hero-section {
    display: flex;
    align-items: center;
    min-height: 550px;
    padding: 0 0 50px 6%;
    overflow: hidden;
}

.hero-left1 {
    width: 45%;
    padding-left: 30px;
    position: relative;
    z-index: 2;
    margin-top: -100px;
    margin-left: -80px;
    text-align: justify;
}

.hero-left1 h1 {
    font-family: "Okra", "Recoleta", "Cooper Black", Georgia, serif;
    font-size: 3.5rem;
    line-height: 1.1;
    color:   #A62B45;
    margin: 0 0 10px;
    margin-top: -50px;
    
}

.hero-left1 p {
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    max-width: 600px;
    margin: 0 0 30px;
}
.hero-right {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
}
.hIMG {
    width: 75%;
    max-width: none;
    height: auto;
    margin-top: -30px;
    display: block;
}
.hero-right{
    margin-top: 10px;
}


.category-buttons{
    display: flex;
    gap: 30px;
    margin-top: -190px;
    margin-left: 50px;
}

.category-buttons button{
    border-radius: 20px;
    width: 150px;
    height: 40px;
    background: transparent;
    color: #A62B45;
    border: 1px solid  #A62B45;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.category-buttons button.active,
.category-buttons button:hover{
    background-color: #A62B45;
    color: white;
}


.food-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 6px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 50px;


}
.food-card{
    border: 1px solid black;
    width: 400px;
    height: auto;
    border-radius: 20px;
    display: grid;
    margin-bottom: 30px;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), 
              box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.food-card img{
    width:400px;
    height: auto;
    border-radius: 20px;
}
.food-info p,h3,h4 {
    margin-left: 20px;
    line-height: 1.3;
}
.food-info p,h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.food-info p{
    text-align: left;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.food-info h3{
    color: #A62B45;
}
.food-info button{
   margin-bottom: 30px;
   width: 360px;
   height: 40px;
   background-color: #A62B45;
   color: white;
   border: none;
   border-radius: 20px;
   cursor: pointer;
}

.food-card:hover{
transform: translateY(-6px);
cursor: pointer;
}

